.action {

  &__title-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-top: 17px;
    height: 247px;

    &:before {
      @include pseudo-block; /* stylelint-disable-line */
      z-index: -1;
      top: 0;
      left: calc((100vw / -2) + 50%);
      width: 100vw;
      height: 100%;
      background:
        url('/img/banner-sale.png') 20% 0 no-repeat,
        url('/img/banner-snowman.png') calc(100vw - 390px) 100% no-repeat,
        url('/img/banner-right.png') 100% 0 no-repeat,
        url('/img/banner-left.png') 0 0 no-repeat;
      background-color: #f0f0ea;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    }
  }

  &__title {
    display: inline-block;
    z-index: 150;
    min-width: 320px;
    max-width: 500px;
    margin: 0;
    padding-top: 14px;
    // padding-left: 290px;
    font-family: $design-font;
    font-size: 108px;
    line-height: 93px;
    color: $warning-color;
    text-shadow: -0 -5px 0 #fff, 0 -5px 0 #fff, -0 5px 0 #fff, 0 5px 0 #fff, -5px -0 0 #fff, 5px -0 0 #fff, -5px 0 0 #fff, 5px 0 0 #fff, -1px -5px 0 #fff, 1px -5px 0 #fff, -1px 5px 0 #fff, 1px 5px 0 #fff, -5px -1px 0 #fff, 5px -1px 0 #fff, -5px 1px 0 #fff, 5px 1px 0 #fff, -2px -5px 0 #fff, 2px -5px 0 #fff, -2px 5px 0 #fff, 2px 5px 0 #fff, -5px -2px 0 #fff, 5px -2px 0 #fff, -5px 2px 0 #fff, 5px 2px 0 #fff, -3px -5px 0 #fff, 3px -5px 0 #fff, -3px 5px 0 #fff, 3px 5px 0 #fff, -5px -3px 0 #fff, 5px -3px 0 #fff, -5px 3px 0 #fff, 5px 3px 0 #fff, -4px -5px 0 #fff, 4px -5px 0 #fff, -4px 5px 0 #fff, 4px 5px 0 #fff, -5px -4px 0 #fff, 5px -4px 0 #fff, -5px 4px 0 #fff, 5px 4px 0 #fff, -5px -5px 0 #fff, 5px -5px 0 #fff, -5px 5px 0 #fff, 5px 5px 0 #fff, -5px -5px 0 #fff, 5px -5px 0 #fff, -5px 5px 0 #fff, 5px 5px 0 #fff, 0 4px 8px rgba(0, 0, 0, 0.4);

    span {
      font-size: 116px;
    }

    &:after {
      @include pseudo-block;  /* stylelint-disable-line */
      z-index: -1;
      right: 15%;
      bottom: -55px;
      width: 238px;
      height: 141px;
      background: url('/img/banner-ok.png') 0 0 no-repeat;
    }
  }

  &__date-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-top: 69px;
    max-width: calc(100vw - 40px);
    height: 110px;
    background: url('/img/promo-back.png') 0 0 no-repeat;
    background-size: 100% 100%;

    &:before {
      @include pseudo-block;  /* stylelint-disable-line */
      top: 55px;
      left: 27px;
      @include sprite-arrow-promo-left;  /* stylelint-disable-line */
    }

    &:after {
      @include pseudo-block;  /* stylelint-disable-line */
      top: 55px;
      right: 27px;
      @include sprite-arrow-promo-right; /* stylelint-disable-line */
    }
  }

  &__date {
    display: block;
    align-self: center;
    margin: 0;
    padding-bottom: 6px;
    text-align: center;
    color: #004734;
    font-size: 48px;
    text-transform: uppercase;

    span {
      font-size: 62px;
      color: $warning-color;
    }
  }

  &__slogan {
    display: block;
    position: absolute;
    top: 282px;
    right: 95px;
    font-family: $design-font;
    font-size: 26px;
    color: #fff;
    transform-origin: 100% 0;
    transform: rotate(-90deg);

    &:before {
      @include pseudo-block; /* stylelint-disable-line */
      @include sprite-banner-arrow; /* stylelint-disable-line */
      z-index: -10;
      top: -100px;
      left: 30%;
      transform-origin: center center;
      transform: rotate(90deg);
    }
  }
}

@media (min-width: 0) and (max-width: 500px) {

  .action {

    &__title {
      font-size: 88px;

      span {
        font-size: 96px;
      }
    }
  }
}

@media (min-width: 0) and (max-width: $screen-sm) {

  .action {

    &__title-wrap {

      &:before {
        background:
          // url('/img/banner-sale.png') 25% 0 no-repeat,
          // url('/img/banner-snowman.png') calc(100vw - 390px) 100% no-repeat,
          url('/img/banner-right.png') 100% 0 no-repeat,
          url('/img/banner-left.png') 0 0 no-repeat;
      }
    }

    &__slogan {
      display: none;

      &:before {
        display: none;
      }
    }

    &__date {
      font-size: 36px;
      line-height: 44px;

      span {
        font-size: 46px;
        line-height: 44px;
      }
    }

    &__title {

      &:after {
        display: none;
        position: relative;
      }
    }

    &__date-wrap {

      &:before {
        display: none;
      }

      &:after {
        display: none;
      }
    }
  }
}

@media (min-width: $screen-sm) and (max-width: $screen-md) {

  .action {

    &__title-wrap {

      &:before {
        @include pseudo-block; /* stylelint-disable-line */
        background:
          // url('/img/banner-sale.png') 25% 0 no-repeat,
          // url('/img/banner-snowman.png') calc(100vw - 390px) 100% no-repeat,
          url('/img/banner-right.png') 100% 0 no-repeat,
          url('/img/banner-left.png') 0 0 no-repeat;
      }
    }

    &__slogan {
      display: none;

      &:before {
        display: none;
      }
    }

  &__date {
      font-size: 40px;

      span {
        font-size: 52px;
      }
    }
  }
}

@media (min-width: $screen-md) and (max-width: $screen-lg) {

}

@media (min-width: $screen-lg) {

}
