
.discounts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 72px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  width: 440px;
  margin-bottom: 64px;
  padding: 22px 0 7px 0;
  background-color: #e9ecf2;
  box-shadow: 0 0 10px 0px rgba(0,0,0, 0.4);

  &:before {
    @include pseudo-block;
    z-index: 1;
    top: -12px;
    right: -11px;
    padding: 0;
    width: 93px;
    height: 82px;
    border-radius: 0 0 0 93px;
    background-color: #de0d08;
  }

  &__percent {
    position: absolute;
    z-index: 1;
    top: 14px;
    right: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    font-size: 26px;

    &:after {
      @include pseudo-block;
      z-index: 12;
      bottom: -44px;
      bottom: 44px;
      right: 81px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 12px 12px;
      border-color: transparent transparent #762102 transparent;
    }

    &:before {
      @include pseudo-block;
      z-index: 12;
      bottom: -36px;
      right: -11px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 11px 11px 0 0;
      border-color: #762102 transparent transparent transparent;
    }
  }

  &__img-wrap {
    // padding-top: 22px;
    margin-right: 12px;
    max-width: 50%;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__details {
    padding: 1px 21px 13px 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__price-wrap {
    background-color: #fff;
    padding-top: 6px;
    padding-left: 27px;

  }

  &__price {
    display: block;
    margin: 0;
    padding: 0;
    color: #d8481c;
    font-family: Arial, sans-serif;
    font-size: 37px;

    &--old {
      font-size: 30px;
      color: #575757;
      text-decoration: line-through;
    }
  }

  &__btn {
    display: block;
    height: 43px;
    margin-top: 10px;
    border: none;
    outline: none;
    font-family: $basic-font;
    cursor: pointer;

    &:hover {
      background-color: $gray-dark;
    }

    &--buy {
      background-color: #3ab16f;
      color: #fff;
      font-size: 24px;
      text-transform: uppercase;
    }

    &--more {
      background-color: #fff;
      border: 2px solid  #e96c41;
      font-size: 22px;
      color: #b83b11;
    }
  }

  &__recomendations {
    @include card-recomendations;
  }

  &__important-info {
    display: inline-block;
    margin-left: auto;
    margin-top: 5px;
    text-decoration: none;
    border-bottom: 1px dashed #bf2426;
    color: #ab310c;
    font-size: 16px;
    font-family: 'Corbel', Arial, sans-serif;
    cursor: pointer;

    &--non-active {
      color: #a4a4a5;
      cursor: default;
      border-color: rgba(255, 255, 255, 0);
    }

    &:hover {
      border-color: rgba(255, 255, 255, 0);
    }
  }

  &__text-wrap {
    width: 100%;
    position: relative;
  }

  &__title {
    width: 100%;
    padding-left: 22px;
    padding-right: 22px;
    font-size: 26px;
    // line-height: 57px;
    text-transform: uppercase;

    span {
      display: block;
      text-decoration: underline;
      font-weight: 700;
      margin: 0;
      padding: 0;
    }
  }

  &__text {
    padding-left: 22px;
    padding-right: 22px;
    color: #004734;
    font-size: 20px;
  }

}

.card-info {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 44px 22px;
  background-color: rgba(255, 255, 255, 0.95);

  // &:before {
  //   @include pseudo-block;



  // }

  &:after {
    @include pseudo-block;
    z-index: 125;
    top: -9px;
    right: 86px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9px 9px 9px;
    border-color: transparent transparent rgba(255, 255, 255, 0.95) transparent;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    @include sprite-close-info;
    cursor: pointer;
  }

  &__text {
    color: #004734;
    font-size: 21px;
  }

  &--active {
    display: block;
  }
}

@media (min-width: 0) and (max-width: $screen-sm) {
  .discounts {
    display: flex;
    flex-direction: column;
    align-content: center;
    }

  .card {
    align-self: center;
  }
}

@media (min-width: $screen-sm) and (max-width: $screen-md) {
  .discounts {
    display: flex;
    flex-direction: column;
    align-content: center;
    }

  .card {
    align-self: center;
  }
}

@media (min-width: $screen-md) and (max-width: $screen-lg) {

}

@media (min-width: $screen-lg) {

}
