include ../pug/mixins.pug

doctype html
html(class='page no-js', lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=0')
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')
    //- Фавиконки (https://realfavicongenerator.net)
    link(rel='apple-touch-icon', sizes='76x76', href='img/favicon/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='img/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='img/favicon/favicon-16x16.png')
    link(rel='manifest', href='img/favicon/site.webmanifest')
    link(rel='mask-icon', href='img/favicon/safari-pinned-tab.svg', color='#5bbad5')
    meta(name='msapplication-TileColor', content='#00aba9')
    meta(name='theme-color', content='#ffffff')
    meta(name='msapplication-navbutton-color', content='#000')
    meta(name='apple-mobile-web-app-status-bar-style', content='#000')
    title Product | Новогодние скидки
    //- link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/style.css')

  body
    noscript У вас отключен JavaScript. Это пугает.
    .page-inner
      header.page-header
        logo.logo.navbar-header
          a(href='/').logo__link
            img(src='img/logo.png', alt='').logo__img
            span.logo__text Ваше лого
        .social-links
          a(href='#').social-links__vk
          a(href='#').social-links__instagram
          a(href='#').social-links__fb

      .page-content
        .action
          h1.action__title Новогодние скидки!
          p.action__date Акция продлится до #[span="14"] января!
          p.action__slogan Лови момент!

        - for(i=0; i<4; i++)
          section.discount
            .discount__percent -70%
            .discount__img-wrap
              img(src='img/box-mockup.png', alt='')
            .discount__price
              .discount__price
            button(value='').discount__btn.discount__btn--buy Заказать
            button(value='').discount__btn.discount__btn--more Подробнее
            a.discount__important-info
            h2.discount__title.
              #[span Секреты продуктивной работы]
                за компьтером
            p.discount__text К сожалению, когда человек покупает компьютер или ноутбук, то с ним нет никакого обучающего пособия о том, как использовать покупку максимально эффективно. В итоге большинство пользователей используют свой компьютер на самом примитивном уровне.

            .discount__recomendations
              .discount__recomendations-item.discount__recomendations-item--vk
              .discount__recomendations-item.discount__recomendations-item--instagram
              .discount__recomendations-item.discount__recomendations-item--fb
              .discount__recomendations-item.discount__recomendations-item--ok
              .discount__recomendations-item.discount__recomendations-item--youtube
              .discount__recomendations-item.discount__recomendations-item--in
              .discount__recomendations-item.discount__recomendations-item--ljn
              .discount__recomendations-item.discount__recomendations-item--mail
              .discount__recomendations-item.discount__recomendations-item--yandex
              .discount__recomendations-item.discount__recomendations-item--google

          .discount__info
            .discount__info-close
            p.discount__info-text Покупая данный продукт, учтите следующие его особенности:
            p.discount__info-text 1. Курс может поставляться на флеш-накопителе, в цифровом варианте или же как просмотр в онлайн-режиме. Курс без проблем запустится как на Windows, так и на OS X (Mac OS).
            p.discount__info-text 2. Вы защищены 100% гарантией возврата денег на тот случай, если что-то пойдет не так. Гарантия действует 90 дней.




      form(method='post', action='', id='').news-subscribe
        itput(type='type').news-subscribe__input
        itput(type='type').news-subscribe__input
        input(type='submit', value='Хочу получать новости о скидках').news-subscribe__submit

      footer.footer
        .container.footer__container
          p.footer__text
            a(href='') Политика конфедициальности
            a(href='') Публичная оферта
          p.footer__text
            a(href='') Политика конфедициальности
            a(href='') Публичная оферта
          p.footer__text Клиентский кабинет:
            a(href='') Публичная оферта

script

