include ../pug/mixins.pug

doctype html
html(class='page', lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')
    //- Фавиконки (https://realfavicongenerator.net)
    link(rel='apple-touch-icon', sizes='76x76', href='img/favicon/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='img/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='img/favicon/favicon-16x16.png')
    link(rel='manifest', href='img/favicon/site.webmanifest')
    link(rel='mask-icon', href='img/favicon/safari-pinned-tab.svg', color='#5bbad5')
    meta(name='msapplication-TileColor', content='#00aba9')
    meta(name='theme-color', content='#ffffff')
    meta(name='msapplication-navbutton-color', content='#000')
    meta(name='apple-mobile-web-app-status-bar-style', content='#000')
    title Product | Новогодние скидки
    //- link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/style.css')

  body
    noscript У вас отключен JavaScript. Это пугает.
    .page-inner
      header.page-header
        logo.logo
          a.logo__link(href='/')
            img.logo__img(src='img/logo.png', alt='')
            span.logo__text Ваше лого
        .social-links
          a.social-links__item.social-links__item--vk(href='#')
          a.social-links__item.social-links__item--instagram(href='#')
          a.social-links__item.social-links__item--fb(href='#')

      .main.page-content
        section.action
          .action__title-wrap
            h1.action__title Новогодние #[span Скидки]!
          .action__date-wrap
            p.action__date Акция продлится до #[span= "14"] января!
          p.action__slogan Лови момент!

        section.discounts
          - for(i=0; i<4; i++)
            section.card
              .card__percent.card__percent--shadow -70%
              .card__img-wrap
                img(src='img/box-mockup.png', alt='')
              .card__details
                .card__price-wrap
                  span.card__price.card__price--old 8300 ₽
                  span.card__price 2490 ₽
                button.card__btn.card__btn--buy Заказать
                button.card__btn.card__btn--more Подробнее
                a.card__important-info(href='#') Важная информация

              .card__text-wrap
                h2.card__title.
                  #[span Секреты продуктивной работы]
                    за компьтером
                p.card__text К сожалению, когда человек покупает компьютер или ноутбук, то с ним нет никакого обучающего пособия о том, как использовать покупку максимально эффективно. В итоге большинство пользователей используют свой компьютер на самом примитивном уровне.

                .card__recomendations
                  p.card__recomendations-title Порекомендуй другу и получи дополнительную скидку
                  a.card__recomendations-item.card__recomendations-item--vk(href='#')
                  a.card__recomendations-item.card__recomendations-item--instagram(href='#')
                  a.card__recomendations-item.card__recomendations-item--fb(href='#')
                  a.card__recomendations-item.card__recomendations-item--ok(href='#')
                  a.card__recomendations-item.card__recomendations-item--youtube(href='#')
                  a.card__recomendations-item.card__recomendations-item--in(href='#')
                  a.card__recomendations-item.card__recomendations-item--lj(href='#')
                  a.card__recomendations-item.card__recomendations-item--mail(href='#')
                  a.card__recomendations-item.card__recomendations-item--yandex(href='#')
                  a.card__recomendations-item.card__recomendations-item--google(href='#')

                .card-info
                  .card-info__close
                  p.card-info__text Покупая данный продукт, учтите следующие его особенности:
                  p.card-info__text 1. Курс может поставляться на флеш-накопителе, в цифровом варианте или же как просмотр в онлайн-режиме. Курс без проблем запустится как на Windows, так и на OS X (Mac OS).
                  p.card-info__text 2. Вы защищены 100% гарантией возврата денег на тот случай, если что-то пойдет не так. Гарантия действует 90 дней.

      form.news-subscribe(method='post', action='', id='')
        input.news-subscribe__input(type='text', placeholder
='Ваше имя')
        input.news-subscribe__input(type='email', placeholder
='Ваш e-mail')
        input.news-subscribe__submit(type='submit', value='Хочу получать новости о скидках')

      footer.page-footer
        p.page-footer__text #[a(href='#') Политика конфедициальности] | #[a(href='#') Публичная оферта]
        p.page-footer__text Публичная программа: #[a(href='#') Регистрация] | #[a(href='#') Вход]
        p.page-footer__text Клиентский кабинет: #[a(href='#') Публичная оферта]

script(src='js/script.js')
