@mixin sprite {
  background-image: url('/img/spritesheet.png');
  background-repeat: no-repeat;
  display: block;
}

@mixin sprite-arrow-form-left {
  @include sprite;
  width: 78px;
  height: 51px;
  background-position: -5px -5px;
}

@mixin sprite-arrow-form-right {
  @include sprite;
  width: 78px;
  height: 51px;
  background-position: -93px -5px;
}

@mixin sprite-arrow-promo-left {
  @include sprite;
  width: 54px;
  height: 78px;
  background-position: -181px -5px;
}

@mixin sprite-arrow-promo-right {
  @include sprite;
  width: 54px;
  height: 78px;
  background-position: -5px -93px;
}

@mixin sprite-banner-arrow {
  @include sprite;
  width: 111px;
  height: 231px;
  background-position: -245px -5px;
}

@mixin sprite-block-fb {
  @include sprite;
  width: 10px;
  height: 20px;
  background-position: -5px -246px;
}

@mixin sprite-block-gplus {
  @include sprite;
  width: 18px;
  height: 15px;
  background-position: -25px -246px;
}

@mixin sprite-block-in {
  @include sprite;
  width: 15px;
  height: 15px;
  background-position: -53px -246px;
}

@mixin sprite-block-mir {
  @include sprite;
  width: 17px;
  height: 12px;
  background-position: -78px -246px;
}

@mixin sprite-block-ok {
  @include sprite;
  width: 12px;
  height: 20px;
  background-position: -105px -246px;
}

@mixin sprite-block-pin {
  @include sprite;
  width: 15px;
  height: 18px;
  background-position: -127px -246px;
}

@mixin sprite-block-yandex {
  @include sprite;
  width: 9px;
  height: 18px;
  background-position: -152px -246px;
}

@mixin sprite-block-youtube {
  @include sprite;
  width: 20px;
  height: 14px;
  background-position: -171px -246px;
}

@mixin sprite-close-info {
  @include sprite;
  width: 23px;
  height: 23px;
  background-position: -201px -246px;
}

@mixin sprite-fb-head {
  @include sprite;
  width: 41px;
  height: 41px;
  background-position: -234px -246px;
}

@mixin sprite-inst-block {
  @include sprite;
  width: 16px;
  height: 16px;
  background-position: -285px -246px;
}

@mixin sprite-inst-head {
  @include sprite;
  width: 41px;
  height: 41px;
  background-position: -311px -246px;
}

@mixin sprite-vk-block {
  @include sprite;
  width: 20px;
  height: 13px;
  background-position: -5px -297px;
}

@mixin sprite-vk-head {
  @include sprite;
  width: 41px;
  height: 41px;
  background-position: -35px -297px;
}
